{
  "env": "testing",
  "siteName": "Proto Framework Tests",
  "domain": {
    "production": "localhost",
    "development": "localhost"
  },
  "database": "Mysqli",
  "connections": {
    "default": {
      "dev": {
        "host": "127.0.0.1",
        "database": "proto",
        "username": "root",
        "password": "root",
        "port": 3306
      },
      "testing": {
        "host": "127.0.0.1",
        "database": "proto",
        "username": "root",
        "password": "root",
        "port": 3306
      },
      "prod": {
        "host": "127.0.0.1",
        "database": "proto",
        "username": "root",
        "password": "root",
        "port": 3306
      }
    }
  },
  "modules": [],
  "services": [],
  "errorTracking": false,
  "errors": true
}
